[user]
	email = email@email.com
	name = name

[core]
	pager = delta -s --line-numbers

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true # use n and N to move between diff sections

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[include]
	path = ~/dotfiles/extras/delta/themes.gitconfig

[delta]
	features = tokyonight-night
	true-color = always
